@model IEnumerable<QuanLyTour.Models.PhieuDangKy>

@{
    ViewBag.Title = "XemTourDaDangKy";
}

<h2>XemTourDaDangKy</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã phiếu
        </th>
        <th>
            Ngày lập
        </th>
        <th>
            Tình trạng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaPhieuDK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaylap)
        </td>
        <td>
            @if(item.TinhTrang == null)
            {
            <p>
                Đang chờ
            </p>
            } else if(item.TinhTrang == true)
            {
                <p>
                    Hợp lệ
                </p>
            } else
            {
                <p>
                    Không hợp lệ
                </p>
            }
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { phieu=item.MaPhieuDK })
        </td>
    </tr>
}

</table>
